<div>

<form action="http://localhost:8080/fetchTweets">
<input type="submit" value="CLICK!!"></input>
</form>

<h1>Shivani Gupta</h1>
    {{#tweets}}
     <h3>{{tweets}}</h3>
    {{/tweets}}
</div>